/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ INITIAL /////////////////////////////// */
html {
  
}
body {
  padding: 5rem;
}

/* \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ HEADER / / / / / / / / / / / / / / / / /*/
header {
  
}

/* \  \  \  \  \  \  \  \  \  \  \  \  NAV  /  /  /  /  /  /  /  /  /  /  / /*/
nav {
  
}

/*  \   \   \   \   \   \   \   \   \   UL   /   /   /   /   /   /   /   /   */
nav ul {
  
}

/*   \    \    \    \    \    \    \    LI     /    /    /    /    /    /    */
nav li {
  
}

/*\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ MAIN / / / / / / / / / / / / / / / / */
main {
  word-break: break-all;
}

/*\  \  \  \  \  \  \  \  \  \  \  \  SECTION  /  /  /  /  /  /  /  /  /  /  */
section {
  
}

/* \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ FOOTER / / / / / / / / / / / / / / / /*/
footer {
/*  outline: 1px #f00 solid;*/
}

/* \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ TAG GROUPS / / / / / / / / / / / / / / /*/
html,
body {
  
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ CLASS STRUCTURE ///////////////////////// */

/*\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ CLASS GROUPS / / / / / / / / / / / / / / */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ PSEUDO CLASSES ////////////////////////// */

/* \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ PSEUDO GROUPS / / / / / / / / / / / / / / */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ COMBINED GROUPS ////////////////////////// */

.wrapper {
  
}
svg {
  width: 25rem;
  height: 25rem;
  background-color: #eee;
}
.first {
  width: 24rem;
  height: 24rem;
}
.second {
  width: 22rem;
  height: 22rem;
}
circle {
  
}
text {
  text-transform: uppercase;
}
